.navbar{
    position:fixed;
    top:0;
    left:0;
    
    width:100%;
    z-index:30;
    margin-top:15px;
    padding:0 8%;
    transition: transform 0.6s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarBox{
    padding:5px 6%;
    width:100%;
    max-width:1440px;
    margin:0 auto;
    border-radius:60px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav{
    display:flex;
    gap:25px;
}

.logoBox{
    display:flex;
    gap:2px;
    align-items: center;
}

.logoBox img{
    width:40px;
    height:auto;
}

.navBarBox.scrolled {
    background: #00000059;
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
}


@media only screen and (max-width: 991px) {
    .navbar{
         margin-top:0;
         padding:0;
         }
    #navbarNav{
         text-align: center;
         padding:30px 0 20px;
         }
    .navBarBox{
         padding:5px 4% !important;
         border-radius:0px;
         }
         .navBarBox.scrolled {
            background: #781616f3;
        }

}